.bi-buildings {
    font-size: 40px;
    color: #24e98d;
    margin-left: 5px;
}

input:invalid+ ::after {
    content: "*";
    color: red;
}

/****** important ***********
/* input:valid+ ::after {
    content: "*";
    color: green;
} */

#faillogin {
    color: red !important;
    text-align: right !important;
    font-size: 10px !important;
}

.bi {
    font-size: 20px;
    margin: 0 5px;
}

.insert-form input[type="number"]:read-only {
    background-color: lightgray;
}

td,
th,
table {
    text-align: center;

}

.currentDate {
    font-size: 16px;
    margin: 0 5px;
    vertical-align: middle;
    /* line-height: 16px; */
}

.goalfiled {
    background-color: lightblue !important;
    border: 2px solid !important;
    font-weight: bold;
}

div .row.mt-5 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.newColumn {
    font-family: vazir-digit;
}

/* 
.col-lg-9 form {
    background-color: #126EFF;
} */