.bi-buildings {
    font-size: 40px;
    color: #24e98d;
    margin-left: 5px;
}

input:invalid+ ::after {
    content: "*";
    color: red;
}

/****** important ***********
/* input:valid+ ::after {
    content: "*";
    color: green;
} */

#faillogin {
    color: red !important;
    text-align: right !important;
    font-size: 10px !important;
}

.bi {
    font-size: 20px;
    margin: 0 5px;
}

.insert-form input[type="number"]:read-only {
    background-color: lightgray;
}

td,
th,
table {
    text-align: center;

}

.currentDate {
    font-size: 16px;
    margin: 0 5px;
    vertical-align: middle;
    /* line-height: 16px; */
}

.goalfiled {
    background-color: lightblue !important;
    border: 2px solid !important;
    font-weight: bold;
}

div .row.mt-5 {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.newColumn {
    font-family: vazir-digit;
}

.namelable {
    font-size: 12px;
    margin-right: 10px;
    display: flex;
    justify-content: space-around;
}

.nowdate {
    margin-right: 20px;
}

.main-nav-start {
    display: flex;
    align-items: center;
}


.sidebar-body-menu a.submenu {
    padding-top: 0;
    padding-bottom: 0;
}

.spanDescription {
    font-size: 12px;
}

.disEnable,
.disRemove {
    color: gray;
    pointer-events: none;
}

.dis_insrt {
    pointer-events: none;
    background-color: rgb(165, 165, 165) !important;
    color: black;
}


#disInsertNote i,
#disEditNote i {
    color: orangered;
}

article.white-block {
    font-family: vazir-digit;
}

h4.my-2 {
    text-align: center;
}

.namecol {
    font-size: 12px;
}

body[class="modal-open"] {
    overflow: visible !important;
    padding-right: 0 !important;
}

#NoteModal .modal-body p {
    line-height: 25px;
    text-align: justify;
}

#noteForm textarea {
    font-size: 15px;
}