.bi-buildings {
    font-size: 40px;
    color: #24e98d;
    margin-left: 5px;
}

input:invalid+ ::after {
    content: "*";
    color: red;
}

input:valid+ ::after {
    content: "*";
    color: green;
}

#faillogin {
    color: red !important;
    text-align: right !important;

    font-size: 10px !important;
}

.bi {
    /* width: 24px;
    height: 24px; */
    font-size: 20px;
    margin: 0 5px;
}