@font-face {
  font-family: vazirf;
  src: url("../fonts/Vazir.ttf");
}

@font-face {
  font-family: vazir-digit;
  src: url("../fonts/Vazir-FD.ttf");
}

body {
  font-family: vazirf, sans-serif;
}

.digitfont,
.currentDate,
#recentYR,
#recentMn,
.stat-cards-info__title {
  font-family: vazir-digit;

}