@font-face {
    font-family: vazirf;
    src: url("../fonts/Vazir.ttf");
}

@font-face {
    font-family: bmitra;
    src: url("../fonts/B\ Mitra\ Bold.ttf");
}

@font-face {
    font-family: vazir-digit;
    src: url("../fonts/Vazir-FD.ttf");
}

body {
    text-align: center;
}

table {
    border: 1px solid gray;


}

td,
th {
    border: 1px solid lightgray;
    vertical-align: middle !important;
    font-family: vazir-digit;
    font-family: bmitra;
    padding: 0 .5rem !important;
}

